{% extends 'main/layout.html' %}

{% block content %}
    <div style='padding:20px'>
        <div style='display:block'>
            <a href='{% url 'account' %}' style='color:#6abad1; font-size: 20px; font-weight:bold; display:inline'>My Account</a>
            <h5 style='color:grey; display:inline'>Uploading a Video</h5>
        </div>

        <form action='' method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            <div style='float:left;width:30%'>
                {{ form.file }}
            </div>
            <div style='float:left;width:40%'>
                Title {{ form.title }}<br>
                Tribal Association(s) {{ form.tribals }}<br>
                Position Type {{ form.jobtypes }}<br>
                Position Location City {{ form.city }}<br>
                Position Location State {{ form.state }}<br>
                Remote Work Only {{ form.remote }}<br>
                Role {{ form.role }}<br>
                Desired Background / Experience {{ form.categories }}<br>
            </div>
            <button type='submit'>Upload</button>
        </form>
    </div>
{% endblock %}
